html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #dddddd;
}

body {
	font-family: "Menlo", "consolas", "monospace";
	font-size: 14px;	
}

.hidden {
	display: none;
}

#login {
	margin: auto;
	width: 400px;
	height: 200px;
	padding: 30px 0px 30px 0px;
	background-color: #f1f2f3;
}

#title {
	font-family: "Menlo", "consolas", "monospace";
	font-size: 20px;	
	position:relative;
	margin-left: 20px;
	margin-bottom: 30px;
}

.divrow {
	margin-top:10px;
	position:relative;
	height:30px
}

.loginlabel {
	float:left;
	width:20%;
	padding-top:5px;
	text-align:right
}

.loginnbsp {
	float:left;
	width:2%;
}

.loginvalue {
	float:left;
	width:75%;
	display:block;
}

#loginbutton {
	margin-top:30px;
	position:relative;
}

#loginsubmit {
	width:100px;
	margin:0 auto;
	display:block;
}

#top {
	width:100%; 
	height:100px;
	margin-top:0;
}
#footer {
	bottom: 0;
	font-size: 10pt;
	height: 35px;
	position: absolute;
	width: 100%;
	text-align: center;
}


.background { 
	display: block; 
	width: 100%; 
	height: 100%; 
	opacity: 0.2; 
	background:black; 
	position: absolute; 
	top: 0; 
	left: 0; 
	z-index: 2000; 
} 
.progressBar { 
	border: solid 2px #86A5AD; 
	background: white url(/images/progressBar_m.gif) no-repeat 10px 10px; 
} 
.progressBar { 
	display: block; 
	width: 168px; 
	height: 28px; 
	position: fixed; 
	top: 50%; 
	left: 50%; 
	margin-left: -74px; 
	margin-top: -14px; 
	padding: 10px 10px 10px 50px; 
	text-align: left; 
	line-height: 27px; 
	font-weight: bold; 
	position: absolute; 
	z-index: 2001; 
} 